html,
body {
    background: linear-gradient(270deg, #36718a, #081638);
    height: 100%
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    margin: 30px 80px;
    color: black;
    font-size: 20px;
    flex: 1 1 auto;
}
.col {
    margin-left: 30px;
    color: black;
}

.form-td {
    padding: 3px 4px;
    vertical-align: top;
}

.form-table {
    width: 495px;
    padding: 5px;
    border: solid rgb(27, 26, 26);
    border-radius: 10px;
    margin: 20px 0 10px 30px;
    display: inline-block;
    vertical-align: top;
}

.center {
    margin: auto;
    margin-top: 100px;
}

.form {
    padding: 5px;
    border: solid rgb(27, 26, 26);
    border-radius: 10px;
}

.signup {
    width: 300px;
}

.register {
    width: 405px;
}

.message {
    text-align: center;
    color: white;
}

.error {
    background-color: lightcoral;
    margin: 5px;
    border: solid red;
    border-radius: 10px;
    color: black;
}

.success {
    background-color: lightgreen;
    margin: 5px;
    border: solid chartreuse;
    border-radius: 10px;
    color: black;
}

.error-page {
    width: 250px;
    font-size: 25px;
    color: white;
}

.width {
    width: 60%;
}

.delete {
    width: 280px;
}

.footer {
    margin-top: 100px;
    color: white;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    font-size: 19px;
}
.footer-images{
    text-align: center;
    font-size: 18px;
    margin-bottom: 2px;
}

.logo {
    border-radius: 3px;
    height: 35px;
    margin: 0 5px 5px 0;
}

.photo{
    width: 1000px;
    height: 600px;
}
#myCarousel{
    width: 1000px;
    margin-top: 50px;
}

.gallery{
    margin:auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 1200px;
    height: 430px;
}
.gallery>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 23px;
}

.ph{
    width: 310px;
    height: 380px;
    border-radius: 5px;
}
.album-info{
    display: inline-flex;
}
.album-info>div{
    margin: 10px;
}
.albums{
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
}
.albums> a{
    text-decoration: none;
    color: black;
    height: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(27, 26, 26);
    padding: 5px;
    border-radius: 5px;
}

.ph-2{
    width: 150px;
    height: 200px;
}