{% extends 'template.html' %}

{% block picture %}
<link rel="website icon" type="png" href="{{url_for('static', filename='images/dev/about.png')}}">
{% endblock %}



{% block body %}
<h3>Про гурт:</h3>
<h5>«Kalush» — український реп-гурт, заснований у 2019 році. </h5>
Отримав право представляти Україну на Пісенному конкурсі Євробачення 2022 з піснею «Стефанія». 15 травня 2022 року гурт став переможцем «Євробачення-2022».
До гурту входять Олег Псюк — засновник і соліст, Ігор Діденчук — мультиінструменталіст, МС Килиммен та бек вокаліст Джонні Дивний. 
Гурт був названий на честь Калуша, рідного міста Олега Псюка.
У 2021 році стало відомо про запуск паралельного проєкту — KALUSH Orchestra. 
На відміну від основного колективу, цей гурт робитиме акцент на реп із фольклорними мотивами та українську автентику. 
Обидва гурти мають спільних учасників. До учасників Олега Псюка (вокал, тексти), Килиммена (діджей)
 і Джонні Дивного додалися мультиінструменталісти Тимофій Музичук, Віталій Дужик, Сашко Таб і Олександр Кондратюк. 
 Ще один музикант Ігор Діденчук грав у KALUSH із самого початку, а тепер зосередився на KALUSH Orchestra.
 <div class="gallery">
    <div><img class="ph" src="{{url_for('static', filename='images/dev/olehpsiuk.jpg')}}">Олег Псюк</div>
    <div><img class="ph" src="{{url_for('static', filename='images/dev/kylymmen.jpg')}}">Килиммен</div>
    <div><img class="ph" src="{{url_for('static', filename='images/dev/sashkotab.jpg')}}">Сашко Таб</div>
 </div>
{% endblock %}