{% extends 'template.html' %}

{% block picture %}
<link rel="website icon" type="png" href="{{url_for('static', filename='images/dev/music.png')}}">
{% endblock %}

{% block body %}
<div class="albums">
    {% for album in alb %}
        <a href="/albums/{{album.title}}">
            <img class="ph-2" src="../static/images/{{album.picture_path}}" alt="photo">
            <h4>{{album.title}}</h4>
            <h6>{{album.release_date}}</h6>
        </a>
    {%endfor%}
</div>
{% endblock %}