{% extends 'template.html' %}

{% block picture %}
<link rel="website icon" type="png" href="{{url_for('static', filename='images/dev/music.png')}}">
{% endblock %}

{% block body %}
<h3>{{info.release_date}} - {{info.title}}</h3>
<div class="album-info">
    <img class="ph" src="../static/images/{{info.picture_path}}">
    <div>
        {{info.information}}
    </div>
</div>

{% endblock %}