{% extends 'template.html' %}

{% block picture %}
<link rel="website icon" type="png" href="{{url_for('static', filename='images/dev/history.png')}}">
{% endblock %}



{% block body %}
<h3>Історія гурту:</h3>
Перший кліп гурту на пісню «Не маринуй» був випущений на їхньому офіційному каналі YouTube 17 жовтня 2019 року.
Режисер кліпу Delta Arthur — режисер багатьох відео української реп-виконавиці alyona alyona. Кліп був знятий на вулицях
Калуша,
і напередодні виходу alyona alyona анонсувала його на власному каналі в Instagram. Після виходу в листопаді 2019 другого
кліпу
«Ти гониш» гурт Kalush підписав угоду про співробітництво з американським хіп-хоп лейблом Def Jam, який входить до
Universal Music Group.
6 грудня 2019 року гурт взяв участь у концерті Alyona alyona, виконавши композиції «Гори», «Не маринуй» та «Ти гониш».
А 9 грудня було випущене відео на пісню «Гори», яку учасники гурту виконали разом з Alyona alyona. За 12 днів відео
набрало 1,2 мільйона переглядів на YouTube.
19 лютого 2021 року з'явився дебютний альбом гурту під назвою «HOTIN». 23 липня того ж року Kalush спільно з репером
Skofka випустили свій другий альбом під назвою «ЙО-ЙО».
У 2021 році, за даними TopHit, Kalush мав 424 949 ефірів на українських радіостанціях, а також зібрав 37 318 425
переглядів в YouTube.
<br>12 лютого 2022 року проєкт «Kalush Orchestra» змагався за право представляти Україну на Пісенному конкурсі
Євробачення 2022 з піснею «Стефанія».
Відео на пісню «Стефанія» було знято в приміщення «Залізничного ринку» (коли супермаркет виїхав звідти і приміщення було
повністю порожнім), який має загрозу знесення.
Саме з цим відео гурт брав участь у «Національному відборі на Євробачення-2022».
Також це відео було єдиним офіційним на пісню «Стефанія» доки гурт не отримав перемогу Євробаченні-2022.
14 травня 2022 року став переможцем «Євробачення-2022», отримавши 439 балів від глядачів та 192 бали від журі (разом
631).
{% endblock %}