{% extends 'template.html' %}

{% block picture %}
<link rel="website icon" type="png" href="{{url_for('static', filename='images/dev/home.png')}}">
{% endblock %}

{% block body %}
<h3>Головна сторінка.</h3>

<div id="myCarousel" class="carousel slide center" data-bs-ride="carousel">
    <div>
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class=""
                aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active"
                aria-current="true"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"
                class=""></button>
        </div>
        <div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='images/dev/pic1.jpg')}}" class=" photo bd-placeholder-img"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                </div>
                <div class="carousel-item active">
                    <img src="{{url_for('static', filename='images/dev/pic2.jpg')}}" class="photo bd-placeholder-img"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">


                </div>
                <div class="carousel-item">
                    <img src="{{url_for('static', filename='images/dev/pic3.jpg')}}" class="photo bd-placeholder-img"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next text-dark" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>

<h5 class="col"> Цей сайт було розроблено в рамках Лабораторної роботи №11 з дисципліни "Програмування мовою Python".
</h5>
{% endblock %}