<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {% block picture %}{% endblock %}

    <title>{{ title }}</title>

<body>
    <div class="wrapper">
        <div class="container-fluid bg-dark border-bottom">
            <div class="container">
                <header class="d-flex flex-wrap bg-dark text-light align-items-center justify-content-center py-3 ">
                    <a href="/main"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
                        <img class="mx-2" src="{{url_for('static', filename='images/dev/KALUSH.png')}}" width="45"
                            height="40">
                        <span class="fs-4">KALUSH</span>
                    </a>
                    <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/main" class="nav-link px-2 link-light">Головна</a></li>
                        <li><a href="/about" class="nav-link px-2 link-light">Про гурт</a></li>
                        <li><a href="/history" class="nav-link px-2 link-light">Історія</a></li>
                    </ul>
                    <ul class="nav col-8 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/albums" class="nav-link px-2 link-primary">| Всі альбоми |</a></li>
                        {% if display or settingsDisplay %}
                        {% for album in alb[:4] %}
                        <li><a href="/albums/{{album.title}}" class="nav-link px-2 link-warning">{{album.title}}</a>
                        </li>
                        {%endfor%}
                        {% endif %}
                    </ul>
                    <div class="col-md-3 text-end">
                        {% if display == 'start'%}
                        <a href="/register"><button type="button"
                                class="btn btn-outline-primary me-2">Реєстрація</button></a>
                        <a href="/signup"><button type="button" class="btn btn-primary">Увійти</button></a>
                        {% elif display == 'authorized' %}
                        <a href="/exit"><button type="button" class="btn btn-outline-primary me-2">Вийти</button></a>
                        {% if priv == 1 %}
                        <a href="/settings"><button type="button" class="btn btn-primary">Налаштування</button></a>
                        {% endif %}
                        {% else %}
                        <a href="/main"><button type="button" class="btn btn-outline-primary me-2">Назад</button></a>
                        {% endif %}
                    </div>
                </header>
            </div>
        </div>
        <main>
            {% if settings %}
            <!--Додавання альбому-->
            <div class="form-table">
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="message {{cat}}">{{msg}}</div>
                {%endfor%}
                <form method="POST" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Назва альбому:</div>
                            </td>
                            <td class="form-td">
                                <input type="text" name="title" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Дата виходу:</div>
                            </td>
                            <td class="form-td">
                                <input type="date" name="release_date" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light" accept="image/*">Ілюстрація:</div>
                            </td>
                            <td class="form-td">
                                <input type="file" name="picture_path" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light m-1">Інформація:</div>
                            </td>
                            <td class="form-td">
                                <textarea name="information" class="form-control bg-dark text-light"
                                    required></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Додати альбом" class="form-control bg-success text-light">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!--Зміна альбому-->
            <div class="form-table">
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="message {{cat}}">{{msg}}</div>
                {%endfor%}
                <form method="POST" enctype="multipart/form-data">
                    <table>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Оберіть альбом:</div>
                            </td>
                            <td class="form-td width">
                                <select name="album_select" class="form-select bg-dark text-light">
                                    {% for album in alb %}
                                    <option value="{{album.id}}">{{album.title}}</option>
                                    {%endfor%}
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Назва альбому:</div>
                            </td>
                            <td class="form-td">
                                <input type="text" name="title" class="form-control bg-dark text-light">
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Дата виходу:</div>
                            </td>
                            <td class="form-td">
                                <input type="date" name="release_date" class="form-control bg-dark text-light">
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light" accept="image/*">Ілюстрація:</div>
                            </td>
                            <td class="form-td">
                                <input type="file" name="picture_path" class="form-control bg-dark text-light">
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light m-1">Інформація:</div>
                            </td>
                            <td class="form-td">
                                <textarea name="information" class="form-control bg-dark text-light"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" value="Змінити альбом" class="form-control bg-success text-light">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <!--Видалення альбому-->
            <div class="form-table signup">
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="message {{cat}}">{{msg}}</div>
                {%endfor%}
                <form method="POST">
                    <table>
                        <tr>
                            <td class="form-td width">
                                <div class="form-control bg-dark text-light">Оберіть альбом:</div>
                            </td>
                            <td class="form-td delete">
                                <select name="album_select" class="form-select bg-dark text-light">
                                    {% for album in alb %}
                                    <option value="{{album.id}}">{{album.title}}</option>
                                    {%endfor%}
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" class="form-td">
                                <input type="submit" value="Видалити альбом" class="form-control bg-danger text-light">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            {% elif signup %}
            <div class="center form signup">
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="message {{cat}}">{{msg}}</div>
                {%endfor%}
                <form method="POST">
                    <table>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Логін:</div>
                            </td>
                            <td class="form-td">
                                <input type="text" name="login" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Пароль:</div>
                            </td>
                            <td class="form-td">
                                <input type="password" name="password" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="form-td">
                                <input type="submit" value="Авторизація" class="form-control bg-success text-light">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            {% elif register %}
            <div class="center form register">
                {% for cat, msg in get_flashed_messages(True) %}
                <div class="message {{cat}}">{{msg}}</div>
                {%endfor%}
                <form method="POST">
                    <table>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Логін:</div>
                            </td>
                            <td class="form-td">
                                <input type="text" name="login" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Пароль:</div>
                            </td>
                            <td class="form-td">
                                <input type="password" name="password" class="form-control bg-dark text-light" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="form-td">
                                <div class="form-control bg-dark text-light">Пароль ще разок:</div>
                            </td>
                            <td class="form-td">
                                <input type="password" name="passwordCheck" class="form-control bg-dark text-light"
                                    required>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="form-td">
                                <input type="submit" value="Зареєструватися" class="form-control bg-success text-light">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            {%else%}
            {% block body %}

            {% endblock %}
            {% endif %}
        </main>


        <footer class="footer bg-dark border-top">
            <span class="footer-text">
                Серверну частину цього сайту розроблено використовуючи веб-фреймворк Flask, мову програмування Python та
                бази даних SQLite. <br>Клієнтську частину розроблено за допомогою мови гіпертекстової розмітки HTML,
                каскадних таблиць стилів CSS та фронтенд-фреймворку Bootstrap.
            </span>
            <div class="footer-images">
                <div>Посилання:</div>
                <div>
                    <a href="https://flask.palletsprojects.com/" class="text-decoration-none">
                        <img src="{{url_for('static', filename='images/dev/flask.png')}}" class="logo">
                    </a>
                    <a href="https://www.python.org/" class="text-decoration-none">
                        <img src="{{url_for('static', filename='images/dev/python-symbol.png')}}" class="logo">
                    </a>
                    <a href="https://www.sqlite.org/" class="text-decoration-none">
                        <img src="{{url_for('static', filename='images/dev/sqlite.jpg')}}" class="logo">
                    </a>
                    <a href="https://getbootstrap.com/" class="text-decoration-none">
                        <img src="{{url_for('static', filename='images/dev/bootstrap.png')}}" class="logo">
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

</html>